{% extends 'base.html.twig' %}
{% block titulo %}Cambio de Contrase&ntilde;a{% endblock %}


{% block body %}
<div class="page-header card">
    <div class="card-block">
            <h5 class="m-b-10">Cambio de Contrase&ntilde;a  -  {{ app.user.apellido~','~app.user.nombre }}</h5>
            <p class="text-muted m-b-10">Complete los siguientes datos obligatorios .</p>
        </div>
    </div>
   
      
    <div class="page-body">
       
        
        <div class="card">
                <div class="card-block">

                    {{form_start(form,{'attr':{'autocomplete':'off'}})}}


                            <div class="row">
                                <div class="col-md-4">
                                    {{form_row(form.password)}}
                                </div>

                                <div class="col-md-4">
                                    {{form_row(form.nuevaPassword)}}
                                </div>

                                <div class="col-md-4">
                                    {{form_row(form.repetirPassword)}}
                                </div>
                            </div>  


                            <div class="row">&nbsp;</div>       

                            <div class="row">     
                                <div class="col-sm-12" style="text-align: center">
                                 {{form_row(form.boton)}}
                                </div> 
                            </div>
                    {{ form_end(form) }}
             <br>    
            </div>
        </div>
    </div>
{% endblock %}



