<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Poblacion, territorio y desarrollo sustentable</title>

    {% block stylesheets %}
    <link
      rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500"
    />
    <link
      rel="stylesheet"
      href="{{ asset('css/bootstrap.min.css') }}"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ asset('materialize/assets/css/font-awesome.css') }}"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ asset('materialize/assets/css/form-elements.css') }}"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ asset('materialize/assets/css/materialize.css') }}"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ asset('materialize/assets/css/style.css') }}"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ asset('materialize/assets/css/prism.css') }}"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ asset('materialize/assets/css/page-center.css') }}"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      href="{{ asset('bundles/framework/images/favicon.ico') }}"
    />
    {% endblock %}
  </head>

  <body id="login-body">
    <div id="login-page" class="row">
      {% block content %} {% block body %}{% endblock %} {% endblock content %}
    </div>
    <div class="row"></div>
    <p
      id="login-footer"
      class="center"
      style="color: #fff; margin-left: -5px; margin-right: -5px"
    >
      Direcci&oacute;n de Inform&aacute;tica y Tecnolog&iacute;as de la
      Informaci&oacute;n<br />
      Ministerio de Gobierno
    </p>

    {% block javascripts %}
    <script
      src="{{ asset('materialize/assets/js/jquery-1.11.1.min.js') }}"
      crossorigin="anonymous"
    ></script>
    <script
      src="{{ asset('js/bootstrap.min.js') }}"
      crossorigin="anonymous"
    ></script>
    <script
      src="{{ asset('materialize/assets/js/materialize.min.js') }}"
      crossorigin="anonymous"
    ></script>
    {% endblock %}
  </body>
</html>
