{% extends 'base.html.twig' %} 
{% block title %} {{ parent() }} {% endblock %} {% block body %}
<div class="page-header card">
  <div class="card-block">
    <h5 class="m-b-10">Contenidos</h5>
    
  </div>
</div>

<div class="page-body">
 

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block table-border-style">
          <div class="row">
            <div class="col-lg-12">
              <a
                href="{{ path('enlace_nuevo') }}"
                class="btn btn-gob"
                title="Nuevo">
              
                <i class="ion-plus"></i> Nuevo
              </a>
             
            </div>
          </div>
                
         <div class="row mt-3">
         <div class="col-lg-12">       
                
          {% if enlaces %}
          
              <div class="table-responsive">  
              <table class="table  table-sm wrap" id="tabla-contenido">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th style="white-space:pre-wrap;">Nombre</th>
                    <th style="white-space:pre-wrap;">Organismo</th>
                    <th style="white-space:pre-wrap;">Tags</th>
                    <th>Activo</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for enlace in enlaces %}
                     
                  <tr>
                    <td>{{ enlace.id }}</td>
                    <td style="white-space:pre-wrap;">{{ enlace.nombre|slice(0,50) }}</td>
                    <td style="white-space:pre-wrap;">{{ enlace.organismo }}</td>

                    <td style="white-space:pre-wrap;">{{ enlace.getTagsAsString|raw }}</td>
                    <td>{{ enlace.activo ? "<i class='fa fa-check' aria-hidden='true'></i>" : "<i class='fa fa-times' aria-hidden='true'></i>"  }}</td>

                    
                      <td>
                        <a  href="{{path('enlace_editar', { hash: enlace.hash })}}"
                            class="btn btn-info btn-sm">
                            <i class='fa fa-pencil' aria-hidden='true'></i></a>



                        <a class="btn-open-modal-eliminar btn btn-danger btn-sm" 
                            title="Eliminar"
                            data-id="{{ enlace.id }}"
                            data-url="{{ path('enlace_eliminar', {'hash': enlace.hash}) }}"
                            data-toggle="modal"
                            data-token="{{ csrf_token('eliminar_contenido' ~ enlace.id) }}" >
                            <i class='fa fa-trash' aria-hidden='true'></i></a>  
                        </a>    

                    </td>
                  
                  </tr>
                  {% else %}
                  <tr>
                    <td colspan="13">sin datos</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              </div>  
            
          {% endif %}
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

   <!-- M O D A L   E L I M I N A R --> 
  <div class="modal fade" id="modal-eliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 1000px">
            <div class="modal-content">
                <div class="modal-header" style="background-color: red; color: white;">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" onClick="" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="form-eliminar-contenido" method="POST" action="" autocomplete="off">
                    <div class="modal-body">
                        <h5><div id="leyenda_eliminar_enlace"></div></h5>
                         <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" id="eliminar_enlace_token" value="">
                        <input type="hidden" name="eliminar_contenido_id" id="eliminar_contenido_id" value="">
                        
                    </div>
                    
                    <div class="modal-footer">
                        <a type="button" class="btn btn-default" href="{{ path('enlace') }}">
                        <i class="ti-close"></i> Cancelar</a>
                        <button type="submit" class="btn btn-info" id="btn-eliminar-contenido">
                            <i class="ti-check"></i>Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  <!-- M O D A L   E L I M I N A R -->                    
                        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('bower_components/moment/js/moment.min.js') }}"></script>
    <script src="{{ asset('bower_components/datatables.net-plugins/sorting/datetime-moment.js') }}"></script>
    
    <script>

        $(function () {
            $('#tabla-contenido').DataTable({
                'language': {
                    'url': '{{ asset('bower_components/datatables.net-plugins/i18n/Spanish.json') }}'
                },
                'order': [[0, "desc"]],
                'searching': false,
                'columns': [
                    {'data': 'id', type: 'num', sClass: 'text-center'},
                    {'data': 'nombre',  sClass: 'text-left'},
                    {'data': 'organismo', sClass: 'text-left'},
                    {'data': 'tag', sClass: 'text-left'},
                    {'data': 'activo', sClass: 'text-center'},
                    {'data': 'opciones', 'orderable': false},
                ]
            });




            var modal_eliminar = $('#modal-eliminar').modal({
                backdrop: 'static',
                keyboard: false,
                show: false
            });
            $('.btn-open-modal-eliminar').on('click', function (event) {
                var id = $(this).data('id');
                modal_eliminar.find('#form-eliminar-contenido').attr('action', $(this).data('url'));
                modal_eliminar.find('#eliminar_enlace_token').val($(this).data('token'));
                modal_eliminar.find('#eliminar_contenido_id').val(id);
                modal_eliminar.find('.modal-title').text('¿ Eliminar contenido ?');
                modal_eliminar.find('#leyenda_eliminar_enlace').text('¿ Esta seguro de eliminar el contenido N°: ' + id+' ?' );
                modal_eliminar.modal('show');
            });
            
                       
    });


  
    </script>
{% endblock %}